.App {
  text-align: center;
  min-height: 100vh; /* Мінімальна висота 100% вікна */
  display: flex;
  justify-content: center; /* Центрування по горизонталі */
  align-items: center; /* Центрування по вертикалі */
  background-color: #f3f4f6; /* Tailwind gray-100 */
  color: #1f2937; /* Tailwind gray-800 */
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-3xl {
  font-size: 1.875rem; /* Tailwind text-3xl */
}

.mb-4 {
  margin-bottom: 1rem; /* Tailwind mb-4 */
}

.mb-6 {
  margin-bottom: 1.5rem; /* Tailwind mb-6 */
}

.w-64 {
  width: 16rem; /* Tailwind w-64 */
}
